@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-family: 'Press Start 2P', cursive;
  font-size: 26px
}

nav {
  font-weight: bold;
  font-size: large;
}

a:link {
  color:grey;
}

body {
  min-height: 100vh;
}
.txt-align {
  padding-top:10px;
  padding-bottom:20px;
}

.tag {
  margin-left: 1px;
}

.card-image:hover{
  opacity: .5;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color:hsl(217, 71%, 53%)
}
a:hover {
  color: lightskyblue  ;
}

.activeNav{
  color: wheat;
  text-shadow: 2px 1px black
}

.resumeList {
  margin-left: 10px;
}

.projectName{
  margin-right: 1vh;
}